/* CSS Document */

a,a:visited {color:#333;text-decoration:none;}
a:hover {color:#f60;}
body {font:13px "Geneva","ÀŒÃÂ", "Arial", "Helvetica",sans-serif;}

/*Õ‚≤‡‘≤Ω«*/
.Fillet_up,.Fillet_down{display:block}

/*Õ‚≤‡…œ∞Î‘≤Ω«*/
.Fillet_up *
{
	display:block;
	height:1px;
	overflow:hidden;
	font-size:.01em;
	background:#000;
}
.Fillet1
{
	margin-left:3px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	background:#000;
}
.Fillet2
{
	margin-left:1px;
	margin-right:1px;
	padding-right:1px;
	padding-left:1px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	background:#000;
}
.Fillet3
{
	margin-left:1px;
	margin-right:1px;
	border-left:1px solid #000;
	border-right:1px solid #000;
}
.Fillet4
{
	border-left:1px solid #000;
	border-right:1px solid #000;
}
.Fillet5
{
	border-left:1px solid #000;
	border-right:1px solid #000;
}
.Fillet_up_fg
{
	padding:0 5px;
	background:#000;
}

/*Õ‚≤‡œ¬∞Î‘≤Ω«*/
.Fillet_down_fg
{
	padding:0 5px;
	background:#D4D4D4;
}
.Fillet_down *
{
	display:block;
	height:1px;
	overflow:hidden;
	font-size:.01em;
	background:#F8F8F8;
}
.Fillet6
{
	border-left:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.Fillet7
{
	border-left:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.Fillet8
{
	margin-left:1px;
	margin-right:1px;
	border-left:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
}
.Fillet9
{
	margin-left:1px;
	margin-right:1px;
	padding-right:1px;
	padding-left:1px;
	border-left:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
	background:#F8F8F8;
}
.Fillet10
{
	margin-left:3px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #F8F8F8;
	border-right:1px solid #F8F8F8;
	background:#F8F8F8;
}


/*ƒ⁄≤‡‘≤Ω«*/
.Fillet_title_up,.Fillet_title_down{display:block}

/*ƒ⁄≤‡…œ∞Î‘≤Ω«*/
.Fillet_title_up *
{
	display:block;
	height:1px;
	overflow:hidden;
	font-size:.01em;
	background:#3F4040;
}
.Fillet_title1
{
	margin-left:3px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #3F4040;
	border-right:1px solid #3F4040;
	background:#3F4040
}
.Fillet_title2
{
	margin-left:1px;
	margin-right:1px;
	padding-right:1px;
	padding-left:1px;
	border-left:1px solid #3F4040;
	border-right:1px solid #3F4040;
	background:#3F4040;
}
.Fillet_title3
{
	margin-left:1px;
	margin-right:1px;
	border-left:1px solid #3F4040;
	border-right:1px solid #3F4040;
}
.Fillet_title4
{
	border-left:1px solid #3F4040;
	border-right:1px solid #3F4040;
}
.Fillet_title5
{
	border-left:1px solid #3F4040;
	border-right:1px solid #3F4040;
}
.Fillet_title_up_fg
{
	height:30px;
	line-height:30px;
	padding-bottom:5px;
	background:#3F4040;
	text-align:left;
}

/*ƒ⁄≤‡œ¬∞Î‘≤Ω«*/
.Fillet_title_down_fg
{
	font-size:12px;
	line-height:25px;
	padding:0 4px;
	background:#fff;
	border:#C8C8C8 1px solid;
	border-top:none;
	border-bottom:none;
}
#main_title
{
	font-size:20px;
	fot-weight:bold;
	font-family:∫⁄ÃÂ;
	color:#C8C8C8;
}
.Fillet_title_down *
{
	display:block;
	height:1px;
	overflow:hidden;
	font-size:.01em;
	background:#C8C8C8;
}
.Fillet_title6
{
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
}
.Fillet_title7
{
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
}
.Fillet_title8
{
	margin-left:1px;
	margin-right:1px;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
}
.Fillet_title9
{
	margin-left:1px;
	margin-right:1px;
	padding-right:1px;
	padding-left:1px;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	background:#DBDBDB;
}
.Fillet_title10
{
	margin-left:3px;
	margin-right:3px;
	padding-left:1px;
	padding-right:1px;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	border-bottom:1px solid #DBDBDB;
	background:#DBDBDB;
}